[flake8]
# Исключаем автосгенерированные файлы миграций (их не правят руками)
exclude = 
    migrations/,
    venv/,
    env/

# Если тебе не важна длина строки в 79 символов, 
# просто разреши линтеру игнорировать эту конкретную ошибку
ignore =
    E501, # Line too long
    F401, # Unused imports
    W291, # Trailing whitespace
    W292, # No newline at end of file
    W293  # Blank line contains whitespace